body {
	background-color: #EFEFEF;
}

.main {
	display: flex;
	padding: 25px;
	flex-direction: row;
}

.col1 {
	width:  40%;
	padding-right: 25px;
	padding-left: 25px;
}

.col2 {
	width: 60%;
}

h1 {
	font-family: Palatino;
	font-size: 5em;
	line-height: 20px;
}

h2 {
	font-family: Helvetica;
	color: #1315A0;

}

.spaced-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.option {
	text-decoration: underline;
	cursor: pointer;
}

.unclicked {
	font-size: 14px;
}

h3 {
	font-family: Palatino;
	font-style: italic;
	font-weight: regular;
	font-size: 1em;
	color: #1315A0;
	line-height: 25px;
}

p {
	font-family: Helvetica;
	line-height: 20px;
}

li {
	color: #1315A0;
}



